textarea {
  max-height: 80px;
  resize: vertical;
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;
  font-family: inherit;
  font-size: 1.2rem;

  &:focus {
    outline: 0;
    border-bottom: 1px solid #0c81f6;
  }
}
